.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.interactive {
    grid-column: 2 / 3;
}

.real-life {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.features-container img {
    width: 25%;
    height: auto;
}

.progress {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.mobile {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

