header{
    color: black;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    height: 70px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 7px;
}

.log-in, .sign-up {
    padding: 7px 15px;
    font-weight: bold;
}

.log-in {
    background-color: white;
    color: #000000;
}

.sign-up {
    background-color: #2F3C4C;
    color: #FFFFFF;
}

.log-in:hover {
    background-color: #FD8549;
    color: white;
}

.sign-up:hover {
    background-color: #FD8549;
}

nav {
    font-family: 'Nunito Sans';
}

#home {
    color: #FD8549;
}

header button {
    border-radius: 20px;
}

.logo-word {
    color: #2F3C4C;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media screen and (max-width: 630px) {
    nav {
        display: none;
    }
}

