header{
    color: black;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    height: 70px;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 7px;
}

.log-in, .sign-up {
    padding: 10px 15px;
    font-weight: bold;
}

.log-in {
    background-color: white;
    color: #000000;
}

.sign-up {
    background-color: #027ACC;
    color: #FFFFFF;
}

.log-in:hover {
    background-color: black;
    color: white;
}

.sign-up:hover {
    background-color: white;
    color: #027ACC;
}

@media screen and (max-width: 630px) {
    nav {
        display: none;
    }
}
