header{
    color: black;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    height: 70px;
}

.hero-h2 {
    margin: 0;
    font-family: 'Gagalin', sans-serif; 
    font-size: 75px;
}

.left {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.center{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
    font-weight: bold;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

.log-in, .sign-up {
    padding: 10px 15px;
    font-weight: bold;
}

.right {
    gap: 7px;
}

.sign-up {
    background-color: #027ACC;
    color: #FFFFFF;
}

.log-in {
    background-color: white;
    color: #000000;
}

