.hero {
    color: white;
    height: 720px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0,0.5)
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero-btn {
    padding: 10px;
    font-weight: bold;
    background-color: rgb(250, 210, 110);
}

.hero-h2 {
    margin: 0;
    font-family: 'Gagalin', sans-serif; 
    font-size: 75px;
    letter-spacing: 3px;
}

.hero-h3 {
    font-size: 30px
}

.down-arrow {
    padding-bottom: 50px
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
}

.features-container img {
    width: 25%;
    height: auto;
}

.progress {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.mobile {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}