* {
    text-align: center;
    font-family: "Graphik", Sans-serif;
}

h1 {
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

.test-flex {
    display: flex;
}

.test-flex div {
    flex: 1;
}