* {
    text-align: center;
    font-family: "Graphik", Sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

.header, .left, .right, .center{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.left, .center {
    margin-right: auto;
    gap: 40px;
}

.log-in, .sign-up {
    padding: 10px 15px;
    font-weight: bold;
}

.right {
    gap: 7px;
}

.sign-up {
    background-color: #027ACC;
    color: #FFFFFF;
}

.log-in {
    background-color: white;
    color: #000000;
}