.logo-img {
    height: 100px;
    width: auto;
}

.header {
    background-color: grey;
}

.start-learning {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 100%;
    padding: 20px;
    color: white;
    background-color: #8230FF;
    width: 225px;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-word {
    color: #2f3c4c;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

