* {
    text-align: center;
    font-family: "Graphik", Sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(86, 100, 118);
}

ul {
    list-style-type: none;
  }

button {
    cursor: pointer;
    border: none;
}

button {
    border: 1px solid #000;
}

body {
    background-color: #F6FDFE;
}